:root {
    --font-size: 16px;
    --line-height: 1;
    --font-family: Source Serif Pro, serif;
    --font-family-alt: Source Sans Pro, sans-serif;

    --color-primary: hsl(210deg, 64%, 50%);

    --text-color: #333;
    --background-color: #fff;
    --link-color: var(--color-primary);

    --border-radius: 4px;
}

html.dark {
    --text-color: hsl(200deg, 25%, 86%);
    --background-color: hsl(200deg, 25%, 20%);
}
