extends @global

block body
    .layout
        block header
            include @layout/header
        .content
            .content-container.container
                block content
        block footer
            include @layout/footer
