extends @layout.pug

block append meta
    meta(name="pageId" content=page.id)

block content
    .page(class=opts.pageClass)
        if (opts.sidebar && opts.sidebar.length)
            .sidebar
                .sidebar-content
                    for item in opts.sidebar
                        a.sidebar-link(href=item.href)= item.title
        .page-content
            block pageContent
                != page.html
